html {
    /*overflow: hidden;*//*Prevents browser overscrolling*/
    /*height: 100%;*//*Prevents browser overscrolling*/
}
body{
	margin:auto;
	padding:0;
	background:url('../images/vintage-leaves.png');
	/*background:#666;*/
	/*height:100%; *//*Prevents browser overscrolling*/
	/*overflow:auto; *//*Prevents browser overscrolling*/
}
#header{
	border-bottom:1px solid #d3d3d3;
	background:#fff;
}
#header-container{
	position:relative;
	width:75%;
	margin:auto;
	overflow:auto;
	font-family: 'Georgia', Times, "Times New Roman", serif;
}
#name-content{
	text-align:center;
	min-width:190px;
	width:33.3%;
	float:left;
	bottom:0;
	background:#4aaaa5;
	height:100px;
	display: flex;
	align-items:center;
	justify-content: center;
}
#name-content h1{
	color:#ffffff;
}
#nav-content{
	font-family:Verdana,'Georgia', Times, "Times New Roman", serif;
	font-size:14px;
	position:absolute;
	width:40%;
	float:left;
	right:0;
	height:60px;
}
#nav{
	position:absolute;
	bottom:0;
	right:0;
}
#nav a{
	color:#777;
	text-decoration:none;
}
.border{
	margin-right:3px;
	position:relative;
	top:1px;
	display:inline;
	font-weight:200;
	border-right:0.5px solid #d3d3d3;
}
h1{
	margin:10px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
#body-container{
	margin:auto;
	width:75%;
}
#aboutme-content{
	color:#4aaaa5;
	margin:40px 0;
	width:60%;
	float:left;
	background:#fff;
}
#connect-content{
	margin:40px 0;
	width:35%;
	float:right;
	color:#4aaaa5;
	background:#fff;
	text-align:center;
}
hr{
	margin:0 10px;
	color:#777;
}
#aboutme-content p {
	margin:10px;
	color:#777;
	line-height:200%;
}
#connect-content hr{
	margin-bottom:20px;
}
#connect-content a:nth-of-type(1){
	margin:10px 0 0 10px;
}
#connect-content a:nth-of-type(2){
	margin:10px 0 0 15px;
}
#connect-content a:nth-of-type(3){
	margin-left:10px;
}
#footer-container{
	border-top:5px solid #4aaaa5;
	background:#666;
	height:125px;
	text-align:center;
}
#copyright-container{
	color:#d3d3d3;
	height:100%;
	display:flex;
	vertical-align:middle;
	justify-content:center;
	align-items:center;
	font-family:Verdana,'Georgia', Times, "Times New Roman", serif;
	font-size:14px;
}